.App {
    text-align: center;
}


.app_form {
    padding: 20px;
    /*fix it to the screen regardless how you scroll*/
    position: fixed;
    bottom: 0;
    /*this is more important*/
    z-index: 1;
    background-color: #e9e9eb;
    width: 100%;
    margin: 20px;
}

.app_formControl {
    /*!important because material ui overwirtes rule*/
    display: flex !important;
    flex-direction: row !important;
}
.app_input{
    flex: 0.9;
}
.app_iconButton{
    flex:0;
}



